mat-form-field {
  margin: 50px;
  width: 40%;
  padding: 10px;
}
.submit{
  display: flex;
  justify-content: center;

}
.stepper-btn{
  padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 220px;
    min-height: 70px;
    border-radius: 0px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
}
