<form [formGroup]="userInfoFormGroup">
  <ng-template matStepLabel>User Information </ng-template>
  <mat-form-field appearance="fill">
    <mat-label>First Name </mat-label>
    <input matInput placeholder="Ex. John" formControlName="firstName" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last Name </mat-label>
    <input matInput placeholder="Ex. Doe" formControlName="lastName" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Ex. john@example.com" formControlName="email" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Phone</mat-label>
    <input matInput placeholder="Ex. 4657896" formControlName="phone">
  </mat-form-field>
</form>
<div class="submit">
  <button *ngIf="!submit" mat-raised-button (click)="register()" color="accent" class="stepper-btn">Register</button>
  <mat-progress-bar mode="indeterminate" *ngIf="submit"></mat-progress-bar>

</div>


