<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <mat-step [stepControl]="itemDetailsFormGroup">
    <form [formGroup]="itemDetailsFormGroup">
      <ng-template matStepLabel>Item Information</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Item Type</mat-label>
        <mat-select formControlName="itemType" placeholder="Ex. Dog" required>
          <mat-option value="Electronics">Electronics</mat-option>
          <mat-option value="Clothing">Clothing</mat-option>
          <mat-option value="Mobile">Mobile</mat-option>
          <mat-option value="IdCards">ID Card</mat-option>
          <mat-option value="Jewelry">Jewelry</mat-option>
          <mat-option value="Keys">Keys</mat-option>
          <mat-option value="Pet">Pet</mat-option>
          <mat-option value="Bags">Bags</mat-option>
          <mat-option value="Luggage">Luggage</mat-option>
          <mat-option value="Books">Books</mat-option>
          <mat-option value="Others">Others</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Post Type</mat-label>
        <mat-select formControlName="postType" placeholder="Ex. Dog" required>
          <mat-option value="LOST">LOST</mat-option>
          <mat-option value="FOUND">FOUND</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Ex. I found or lost my item ..." formControlName="description" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Upload Image</mat-label>
        <ngx-mat-file-input formControlName="imageUrl"  required (change)="upload($event)"
                            multiple></ngx-mat-file-input>
        <mat-icon matSuffix>upload</mat-icon>
      </mat-form-field>
      <div>
        <button mat-raised-button  color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="itemAddressFormGroup">
    <form [formGroup]="itemAddressFormGroup">
      <ng-template matStepLabel>Location of Lost/Found </ng-template>
      <mat-form-field appearance="fill">
        <mat-label>state</mat-label>
        <input matInput placeholder="Ex. IOWA" formControlName="state" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput placeholder="Ex. Fairfield" formControlName="city" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Street</mat-label>
        <input matInput placeholder="Ex. 1000Nth street" formControlName="street" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Zip Code</mat-label>
        <input matInput placeholder="Ex. 557525" formControlName="zipcode" required>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious class="stepper-btn">Back</button>
        <button mat-raised-button color="primary"  matStepperNext class="stepper-btn"> Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="userInfoFormGroup">
    <form [formGroup]="userInfoFormGroup">
      <ng-template matStepLabel>User Information </ng-template>
      <mat-form-field appearance="fill">
        <mat-label>First Name </mat-label>
        <input matInput placeholder="Ex. John" formControlName="firstName" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name </mat-label>
        <input matInput placeholder="Ex. Doe" formControlName="lastName" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. john@example.com" formControlName="email" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Ex. 4657896" formControlName="phone">
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary"  matStepperPrevious class="stepper-btn">Back</button>
        <button mat-raised-button color="primary" matStepperNext class="stepper-btn" >Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are Almost DONE, click submit to Finish </p>
    <div>
      <button mat-raised-button  color="primary" matStepperPrevious class="stepper-btn">Back</button>
      <button *ngIf="!submit" mat-raised-button (click)="postItem()" color="accent" class="stepper-btn">Submit</button>
      <mat-progress-bar mode="indeterminate" *ngIf="submit"></mat-progress-bar>
    </div>
  </mat-step>

</mat-stepper>
